body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
}

model-viewer:not([ar]) #ar-button {
  display: none;
}

.model-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

model-viewer {
  width: 50%;
  height: 50%;
}

#ar-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 0.5em 1em;
  font-size: 16px;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 90px;
  z-index: 10;
}
